@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #FFF;
}

#card {
    height: calc(100vh - 50%);
    background-color: #3D3D3D;
    border-radius: 10px;
    padding: 3.2em 1.2em 1.2em 1.2em;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#card > img {
    position: absolute;
    top: -5em;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

a {
    color: #999999;
    text-decoration: none;
}

a:hover {
    transition: color 0.5s ease-in-out;
    color: #DDD;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#card li {
    padding: .3em .3em 0 .3em;
    margin: 2px;
}

#footer {
    color: #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

p {
    margin: 0.2em;
}

#content-scroller {
    height: 70%;
    overflow: scroll;
}