@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:wght@300;500&display=swap');

:root {
    --header_color : #6C757C;
    --footer_color : #212529;
    --card_color : #DEE2E6;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    height: 15em;
}

#container {
    width: 65vw;
    margin: 5em auto;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
}

.product-item {
    transition: box-shadow 500ms;
    padding: 1.5em;
    border-radius: .7em;
    background-color: var(--card_color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-item:hover {
    transition: all 600ms;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 35px 0px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-header > p {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background-color: var(--footer_color);
    color: white;
}

nav {
    height: 10vh;
    margin-top: 0;
    width: 100%;
    background-color: var(--header_color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: calc(35vw / 2);
    padding-right: calc(35vw / 2);
    color: white;
}

nav > ul {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    text-transform: uppercase;
}
nav a {
    color: white;
}

nav li:first-child {
    margin-right: 2em;
}

a {
    text-decoration: none;
    color: black;
}

#add-cart {
    box-sizing: border-box;
    padding: 1.2em;
    border-radius: .8em;
    background-color: var(--header_color);
    color: white;
    border: 0;    
    border: 1px solid var(--header_color);
}

#add-cart:hover {
    box-sizing:border-box;
    transition: all .5s;
    color: var(--footer_color);
    background-color: white;
    border: 1px solid var(--header_color);
}

.bold {
    font-weight: 500;
}